.footer__description-text {
  font-family: 'HelveticaNeueCyr', Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: #fff;
}

.footer__description-text:hover {
  color: rgb(204, 202, 202);
}