.footer__description {
  display: flex;
  width: 50%;
  background: #707070;
  height: 270px;
}

@media all and (max-width: 1000px) {
  .footer__description {
    height: 530px;
  }
}

@media all and (max-width: 600px) {
  .footer__description {
    width: 300px;
  }
}