@import url(./__logo/description__logo.css);
@import url(./__title/description__title.css);
@import url(./__span/description__span.css);
@import url(./__text/description__text.css);
.description__big-block {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 370px;
  background-color: #185690;
  padding: 50px 30px 40px;
  overflow: hidden;
}

@media all and (max-width: 1070px) {
  .description__big-block {
    width: 500px;
    margin-bottom: 40px;
  }
}

@media all and (max-width: 590px) {
  .description__big-block {
    width: 370px;
  }
}

@media all and (max-width: 480px) {
  .description__big-block {
    width: 300px;
  }
}

@media all and (max-width: 370px) {
  .description__big-block {
    width: 270px;
  }
}