@import url(./__description-block/service__description-block.css);
.service__description {
  position: absolute;
  display: none;
  flex-direction: column;
  width: 100%;
  max-height: 260px;
  background-image: url(../../../../../../../images/fon.png);
  padding: 20px;
}