.service__item_theme_a {
  background-image: url(../../../../../../images/pl-1.jpg);
  background-size: cover;
}

.service__item_theme_a:hover {
  background-image: none;
}

.service__item_theme_a:hover>.service__mini-block {
  display: none;
}

.service__item_theme_a:hover>.service__description {
  display: flex;
}