.service__item_theme_c {
  background-image: url(../../../../../../images/pl-3.jpg);
  background-size: cover;
}

.service__item_theme_c:hover {
  background-image: none;
}

.service__item_theme_c:hover>.service__mini-block {
  display: none;
}

.service__item_theme_c:hover>.service__description {
  display: flex;
}