.service__item_theme_g {
  background-image: url(../../../../../../images/pl-7.jpg);
  background-size: cover;
}

.service__item_theme_g:hover {
  background-image: none;
}

.service__item_theme_g:hover>.service__mini-block {
  display: none;
}

.service__item_theme_g:hover>.service__description {
  display: flex;
}