.service__item_theme_e {
  background-image: url(../../../../../../images/pl-5.jpg);
  background-size: cover;
}

.service__item_theme_e:hover {
  background-image: none;
}

.service__item_theme_e:hover>.service__mini-block {
  display: none;
}

.service__item_theme_e:hover>.service__description {
  display: flex;
}